{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title></title>
        <title>login page</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div>
            <div class="login-head">
                <h3>Login</h3>
            </div>
            <div class="login-styling">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="login-username">
                        <label>Username</label><br>
                        <input type="text" name="username" placeholder="type username" required>
                    </div>
                    <div class="login-password">
                        <label>Password</label><br>
                        <input type="password" name="password" placeholder="type password" required>
                    </div>
                    {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{request.GET.next}}">
                    {% endif %}
                    {% for message in messages %}
                    <span style="color: red;">{{message}}</span>
                    {% endfor %}
                    <div>
                        <button type="submit">Sign in</button> 
                        <p>or <a href="{% url 'registration_view' %}">Sign-Up</a></p>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>