<!DOCTYPE html>
<html>
    <head>
        <title>the withdraw page</title>
    </head>
    <body>
        <div style="margin-left: 200px;">
            <div>
                <h3>the withdraw page</h3>
            </div>
            <div>
                {% include 'intro.html' %}
            </div>
            <div>
                    {{my_errors}}
                <form method="POST" action="{% url 'withdraw' %}">
                    {% csrf_token %}
                    <div>
                        <label>Amount</label>
                        {{form.amount_to_withdraw}}
                    </div>
                    {% for messsage in messages %}
                    <span style="color: red;">{{message}}</span>
                    {% endfor %}
                    <div>
                        <button type="submit">Withdraw</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>